html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}
header {
    z-index: 2;
    user-select: none;
    position: absolute;
    display: flex;
    right: 0;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
}
.btn-container {
    display: flex;
    align-items: center;
}
.container {
    overflow: hidden;
}
.notification {
    color: #d12424;
    font-size: 18px;
}
.btn {
    transition: .2s;
    width: 40px;
    height: 40px;
    background: #72B6DC;
    border-radius: 50%;
    margin: 20px 20px 20px 10px;
}
.btn-container:hover .btn, .link-content:hover .btn {
    color: #ffffff;
    background: #1F2E37;
}
.btn-container:hover {
    cursor: pointer;
}
.btn::after {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.btn-how::after {
    content: '?';
}

.btn-dev::after {
    font-weight: 700;
    font-size: 12px;
    content: 'Я';
}
.btn-sound::after {
    font-weight: 700;
    font-size: 12px;
    content: 'Тут';
}

.btn-hes::after {
    font-weight: 700;
    font-size: 12px;
    content: 'Там';
}

.btn-text {
    font-size: 16px;
}

.link-content {
    display: flex; 
    align-items: center; 
    cursor: pointer;
}

.users-online-content {
    margin: 0 0 20px 20px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.links-container {
    z-index: 2;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}
.howto-container {
    pointer-events: none;
}
.block-text {
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.block-text h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}
a {
    color: #1F2E37;
    text-decoration: none;
}
.block-text p {
    
    font-size: 18px;
    font-weight: 400;
}
.showhowto {
    opacity: 1 !important;
}
.howto-container {
    transition: .1s;
}
/* @keyframes titlesh2 {
    0% {
        opacity: 0; 
    }
  
    10% {
        opacity: 1;
    }
    95% {
        opacity: 1;
        margin-left: 0;   
    }
    100% {
        opacity: 0;
        display: none;
        margin-left: -100%;
        right: -10;
    }
} */

@media (max-width: 1220px) {
    .howto-content h3 {
        font-size: 16px;
    }
    .howto-content p {
        font-size: 16px;
    }
    .howto-content img {
        width: 150px !important;
        height: 150px !important;
        align-self: center;
    }
    .block-text {
        align-self: center;
        height: 100px;
    }
}



.bg-howto {
    transition: .1s;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #E2ECF5;
}

.truefalsebg {
    opacity: 1;
}
@media (max-width: 838px) {
    .howto-content img {
        display: none;
    }
    .howto-content {
        justify-content: center;
    }
    .notification {
        text-align: center;
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    
    .btn-hes::after {
        content: 'Хес';
    }
    .block-img-one {
        margin: 0;
    }
    .block-img-two {
        order: 1;
        margin: 0;
    }

    .howto-content h3 {
        font-size: 14px;
    }
    .howto-content p {
        font-size: 14px;
    }
    .howto-content img {
        display: none;
    }
    .howto-content .block-text {
        height: 100px
    }
    .howto-container {
        justify-content: center !important;
        flex-direction: column;
    }
    .howto-content {
        width: 200px !important;
        height: 250px !important;
    }
    .howto-content {
        margin: 0 !important;
    }
    .users-online-content {
        margin: 0 0 20px 20px;
    }
    .links-container {
        display: flex;
        flex-direction: column;
        float: right;
    }
    .link-content {
        margin: 0;
    }
    .btn-text {
        display: none;
    }
}

.howto-container {
    opacity: 0;
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.howto-content:first-child {
    margin: 0 0 0 50px;
}
.howto-content {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    
}
.howto-content img {
    width: 200px;
    height: 200px;
}
.bg-howto,  .howto-container {
    pointer-events: none;
}

#snow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}
/* header, footer {
    pointer-events: none;
} */
.btn-soundonoff {
    width: 60px;
    height: 60px;
    background-image: url('img/sound_off.png');
    margin: 0 0 0 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.offsound {
    background-image: url('img/sound_on.png');
}